* {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #f2e0b3;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sunflower', sans-serif;
  letter-spacing: .1rem;
}

#root, .Content {
  height: inherit;
}
