.Input {
  display: block;
  outline: none;
  width: 100%;
  padding: 1rem 0;
}

.modalInput {
  display: block;
  outline: none;
  width: 100%;
  padding: 1rem 0;
}


.inputElement {
  border: 1px solid rgba(0, 0, 0, 0.445);
  width: 100%;
  padding: .5rem 1rem;
}


.invalid {
  width: 100%;  
  outline: 1px solid red;
}

.invalidClass {
  border-radius: .5rem;
  font-size: 1.7rem;
  background-color: #ecc1c1;
  padding: .2rem 1rem;
  margin-top: .5rem;
}

@media (min-width: 768px) {
  .Input {
    width: 70%;
  }
}