.BurgerControls {
  position: fixed;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: 0;
  padding: 1rem;
  background-color: #765b4c;
  font-size: 1.8rem;
  color: white;
  margin-top: 3rem;
  transition: all .5s;
}

.checkout {
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
}

.totalPrice {
  background-color: #4c3f37;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  color: white;
  padding: .7rem 2rem;
  font-size: 2rem;
}

.checkoutBtn {
  background-color: #d25f11;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  width: 40%;
  color: white;
  border: none;
  padding: .7rem 2rem;
  outline: none;
  font-size: 2rem;
  transition: all .5s;
  backface-visibility: hidden;
}

.checkoutBtn:hover {
  background-color: #ec6c15;
}

@media (min-width: 760px) {
  .BurgerControls {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .BurgerControls {
    font-size: 1.7rem;
  }
}

@media (max-width: 760px) and (min-width: 450px) {
  .BurgerControls {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 0;
    padding: 1rem;
    background-color: #765b4c;
    font-size: 1.8rem;
    color: white;
    margin-top: 3rem;
    transition: all .5s;
  }

  .checkout {
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: flex-end;
    height: 5rem;
  }

  .totalPrice {
    background-color: #4c3f37;
    color: white;
    padding: .7rem 2rem;
    font-size: 2rem;
  }

  .checkoutBtn {
    background-color: #d25f11;
    color: white;
    border: none;
    padding: .7rem 2rem;
    outline: none;
    font-size: 2rem;
    transition: all .5s;
    backface-visibility: hidden;
  }

  .checkoutBtn:hover {
    background-color: #ec6c15;
  }
}

