.Form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 1rem auto auto auto;
  font-size: 2rem;
}

.Form h2 {
  font-size: 4rem;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1rem;
}

.wrapper {
  display: flex;
  width: 100%;
}

.signupOr {
  display: flex;
  margin: 1rem;
}

.signupOr hr {
  background-color: rgba(0, 0, 0, 0.479);
  width: 10rem;
  margin: auto 1rem;
}

.signupButton {
  width: 100%;
  background-color: #25a025;
  color: white;
  font-size: 2rem;
  padding: .8rem 5rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  margin: 2.5rem auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  .signupButton {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .signupButton {
    padding: .8rem 0;
  }
  .signupOr hr {
    width: 5rem;
  }
}
