.continueBtn {
  flex: 1;
  border: none;
  margin: 1rem;
  font-size: 2rem;
  padding: 1.2rem;
  color: white;
  letter-spacing: .2rem;
  background-color: rgb(60, 132, 17)
}

.continueBtn:hover {
  background-color: rgb(80, 154, 36);
}

.continueBtn:focus {
  outline: none;
}