.item {
  flex: 1;
}

@media (min-width: 950px) {
  .CheckoutItem {
    display: flex;
    width: 35%;
    justify-content: space-around;
    margin-top: 1.6rem;
    letter-spacing: .2rem;
    font-size: inherit;
  }

  .ModalItem {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-top: 1.6rem;
    letter-spacing: .2rem;
    font-size: inherit;
  }
}

@media (max-width: 760px) {
  .CheckoutItem {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-top: 1.6rem;
    letter-spacing: .2rem;
    font-size: inherit;
  }

  .ModalItem {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-top: 1.6rem;
    letter-spacing: .2rem;
    font-size: inherit;
  }
}
@media (max-width: 950px){
  .CheckoutItem {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-top: 1.6rem;
    letter-spacing: .2rem;
    font-size: inherit;
  }

  .ModalItem {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-top: 1.6rem;
    letter-spacing: .2rem;
    font-size: inherit;
  }
}
