.Form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 2rem auto auto auto;
  font-size: 2rem;
}

.Form h2 {
  font-size: 4rem;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1rem;
}

.wrapper {
  display: flex;
  width: 100%;
}

.orderButton {
  width: 100%;
  background-color: #25a025;
  color: white;
  font-size: 2rem;
  padding: .8rem 5rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  margin: 2.5rem auto;
  cursor: pointer;
}

.orderButton:focus {
  outline:none;
}

.orderButton:hover {
  background-color: #30bb30;
}

@media (min-width: 768px) {
  .orderButton {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .orderButton {
    padding: .8rem 0;
  }
}
